<html>
<head>
    <title> LTI Insurance </title>   
</head>
    <body>
    <div class="login-box">
    <img src="../assets/image/avatar.png" class="avatar">
        <h1>Buy Insurance</h1>
            <form>
                <input type="text" id="manufacturer" name="manufacturer" placeholder="Manufacturer">
                <input type="text" id="model" name="model" placeholder="Model">
                <input type="text" id="dl" name="dl" placeholder="Driving License">
                <input type="Date" id="pdate" name="pdate" placeholder="DD/MM/YY">
                <input type="text" id="rno" name="rno" placeholder="Registration number">
                <input type="text" id="eno" name="eno" placeholder="Engine number">
                <input type="text" id="cno" name="cno" placeholder="Chassis number">

            <input type="submit" name="submit" value="Submit">
               
            </form>
        
        
        </div>
    
    </body>
</html>