<div class="toolbar" role="banner">
    <img
      width="60"
      alt="Angular Logo"
      src="../assets/image/logo.png"
    />
    
      <div class="spacer"></div>
      <ul class="navL">
        <li><a [routerLink]="'/home'">Home</a></li>
        <li><a [routerLink]="'/register'">Register</a></li>
        <li *ngIf="!isUserLoggedIn()"><a [routerLink]="'/login'">Login</a></li>
        <li *ngIf="isUserLoggedIn()"><a (click) = "logout()">Logout</a></li>
        <li><a [routerLink]="'/about'">About</a></li>
        <li><a [routerLink]="'/contactUs'">Contact Us</a></li>
      </ul>
      
  </div>
