<html>
<head>
    <title> LTI Insurance </title>   
</head>
    <body>
    <div class="login-box">
    <img src="../assets/image/avatar.png" class="avatar">
        <h1> Claim Insurance </h1>
            <form>
                
                <label for="pno">Policy number:</label>
            <input type="text" name="pno" placeholder="">

        
            <label for="plans">Mobile number</label>
            <input type="text" name="mobile" placeholder="">
            
            <label for="plans">Reason to claim:</label>
            <select name="reason" id="reason">
                <option value="natural_disaster">Natural disaster</option>
                <option value="manmade_disaster">Man made disaster</option>
                 <option value="road_accident">Road accident</option>
                <option value="theft">Theft</option>
            </select>

            
            <input type="submit" name="submit" value="Claim">
               
            </form>
        
        
        </div>
    
    </body>
</html>