<html>
<head>
    <title> LTI Insurance </title>   
</head>
    <body>
    <div class="login-box">
    <img src="../assets/image/avatar.png" class="avatar">
        <h1>Renew Insurance</h1>
            <form>
            <p>Policy number</p>
            <input type="text" name="pno" placeholder="">
            <p>Mobile number</p>
            <input type="text" name="mobile" placeholder="">
            <p>Email</p>
            <input type="email" name="email" placeholder="">
            
            <input type="submit" name="submit" value="Renew">
             
            </form>
        
        
        </div>
    
    </body>
</html>