<html>
<head>
    <title> LTI Insurance </title>   
</head>
    <body>
    <div class="login-box">
    <img src="../assets/image/avatar.png" class="avatar">
        <h1>Register</h1>
            <form>
                <input type="text" id="name" name="name" placeholder="Your name..">
                <input type="email" id="email" name="email" placeholder="abc@xyz..">
                <input type="Date" id="dob" name="dob" placeholder="DD/MM/YY">
                <input type="text" id="contact" name="contact" placeholder="Enter your contact no">
                <textarea id="address" name="address" placeholder="Address" style="height:40px"></textarea>
                <input type="password" id="password" name="password" placeholder="Enter password">
                <input type="password" id="cpassword" name="cpassword" placeholder="Confirm password">
           
            <input type="submit" name="submit" value="Register">
               
            </form>
        
        
        </div>
    
    </body>
</html>